cython
numpy==1.23.0
scipy
tqdm
einops
shapely
pyarrow
terminaltables
prettytable
evaluate
yapf==0.32.0
tensorboardX==2.0
timm==0.9.10
h5py
submitit
openpyxl
scikit-image
scikit-learn
progressbar2
pysodmetrics
transformers==4.34.0
sentencepiece
accelerate==0.23.0
bitsandbytes
deepspeed==0.12.3
peft==0.6.2
tokenizers==0.14.1
sentence-transformers==2.7.0
huggingface_hub==0.17.2
diffusers==0.28.2

